In [2]:
import pandas as pd
import numpy as np

In [2]:
#1
# Write a Pandas program to get the powers of an array values element-wise.
data = {"X": [78, 85, 96, 80, 86], "Y": [84, 94, 89 ,83, 86], "Z": [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [4]:
#2
# Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
#3
# Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [11]:
#4
# Write a Pandas program to get the first 3 rows of a given DataFrame. Go to the editor Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [12]:
#5
# Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [24]:
#6
# Write a Pandas program to select the specified columns and rows from a given data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df.iloc[[1,3,5,6], [1,3]])

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [26]:
#7
# Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[df['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [43]:
#8
# Write a Pandas program to count the number of rows and columns of a DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print("Number of Rows:", df.shape[0])
print("Number of Columns:", df.shape[1])

Number of Rows: 10
Number of Columns: 4

In [37]:
#9
# Write a Pandas program to select the rows where the score is missing, i.e. is NaN. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[df['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [42]:
#10
# Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[df['score'].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [48]:
#11
# Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df[(df['attempts'] < 2) & (df['score'] >= 15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [58]:
#12
# Write a Pandas program to change the score in row 'd' to 11.5.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
df.loc['d', 'score'] = 11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [61]:
#13
# Write a Pandas program to calculate the sum of the examination attempts by the students.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df['attempts'].sum())

19

In [63]:
#14
# Write a Pandas program to calculate the mean score for each different student in DataFrame. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df['score'].mean())

13.5625

In [69]:
#15
# Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
df.loc['k'] = ["Suresh", "yes", 1, 15.5]
print("New dataframe with append row\n", df)
df = df.drop(index = 'k', axis = 0)
print("New dataframe withou append row\n", df)

New dataframe with append row
         name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima   9.0         3      no
c  Katherine  16.5         2     yes
d      James   NaN         3      no
e      Emily   9.0         2      no
f    Michael  20.0         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin   8.0         2      no
j      Jonas  19.0         1     yes
k     Suresh   yes         1    15.5
New dataframe withou append row
         name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima   9.0         3      no
c  Katherine  16.5         2     yes
d      James   NaN         3      no
e      Emily   9.0         2      no
f    Michael  20.0         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin   8.0         2      no
j      Jonas  19.0         1     yes

In [72]:
#16
# Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order. 
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df.sort_values(by=['name', 'score'], ascending=['False', 'True']))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James    NaN         3      no
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
i      Kevin    8.0         2      no
h      Laura    NaN         1      no
g    Matthew   14.5         1     yes
f    Michael   20.0         3     yes

In [75]:
#17
# Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
re = {'yes': True, 'no': False}
print(df.replace({'qualify': re}))

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [3]:
#18
# Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df['name'].replace('James', 'Suresh'))

a    Anastasia
b         Dima
c    Katherine
d       Suresh
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object

In [4]:
#19
# Write a Pandas program to delete the 'attempts' column from the DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
print(df.drop('attempts', axis = 1))

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [5]:
#20
# Write a Pandas program to insert a new column in existing DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
df['color'] = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
print(df)

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [19]:
#21
# Write a Pandas program to iterate over rows in a DataFrame.
exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
df = pd.DataFrame(data=exam_data)
for idx, row in df.iterrows():
    print(row['name'], row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

In [22]:
#22
# Write a Pandas program to get list from DataFrame column headers.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels)
df['color'] = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
print(df.columns.values)

['name' 'score' 'attempts' 'qualify' 'color']

In [25]:
#23
# Write a Pandas program to rename columns of a given DataFrame
data = {'col1': [1,2,3], 'col2': [4,5,6], 'col3': [7,8,9]}
df = pd.DataFrame(data = data)
df = df.rename(columns={'col1':'column1', 'col2': 'column2', 'col3': 'column3'})
print(df)

   column1  column2  column3
0        1        4        7
1        2        5        8
2        3        6        9

In [27]:
#24
# Write a Pandas program to select rows from a given DataFrame based on values in some columns.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
print(df[df['col1'] == 4])

   col1  col2  col3
1     4     5     8
3     4     7     0

In [35]:
#25
# Write a Pandas program to change the order of a DataFrame columns.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
cols = df.columns.values
print(df[cols[::-1]])

   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

In [42]:
#26
# Write a Pandas program to add one row in an existing DataFrame.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
new = {'col1': 10, 'col2': 11, 'col3': 12}
df = df.append(new, ignore_index=True)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5    10    11    12

In [ ]:
#27
# Write a Pandas program to write a DataFrame to CSV file using tab separator.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
df.to_csv('new_file.csv', sep='\t', index=False)

In [47]:
#28
# Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).
df= pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
                'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
dfg = df.groupby('city').size().reset_index(name = 'Number of people')
print(dfg)

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

In [48]:
#29
# Write a Pandas program to delete DataFrame row(s) based on given column value.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
print(df.drop([1], axis = 0))

   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1

In [52]:
#30
# Write a Pandas program to widen output display to see more columns.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [58]:
#31
# Write a Pandas program to select a row of series/dataframe by given integer index.
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
print(df.iloc[[2]])

   col1  col2  col3
2     3     6     9

In [60]:
#32
# Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df.fillna(0))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [63]:
#33
# Write a Pandas program to convert index in a column of the given dataframe.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df.reset_index())

   index       name  score  attempts qualify
0      0  Anastasia   12.5         1     yes
1      1       Dima    9.0         3      no
2      2  Katherine   16.5         2     yes
3      3      James    NaN         3      no
4      4      Emily    9.0         2      no
5      5    Michael   20.0         3     yes
6      6    Matthew   14.5         1     yes
7      7      Laura    NaN         1      no
8      8      Kevin    8.0         2      no
9      9      Jonas   19.0         1     yes

In [66]:
#34
# Write a Pandas program to set a given value for particular cell in DataFrame using index value.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
df.loc[8, 'score'] = 10.2
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin   10.2         2      no
9      Jonas   19.0         1     yes

In [72]:
#35
# Write a Pandas program to count the NaN values in one or more columns in DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df.isnull().sum())
print("Number of NaN values in one or more columns:", df.isnull().values.sum())

name        0
score       2
attempts    0
qualify     0
dtype: int64
Number of NaN values in one or more columns: 2

In [75]:
#36
# Write a Pandas program to drop a list of rows from a specified DataFrame
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data = data)
print(df.drop([2,4], axis = 0))

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [79]:
#37
# Write a Pandas program to reset index in a given DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
df = df[2:]
print(df.reset_index())

   index       name  score  attempts qualify
0      2  Katherine   16.5         2     yes
1      3      James    NaN         3      no
2      4      Emily    9.0         2      no
3      5    Michael   20.0         3     yes
4      6    Matthew   14.5         1     yes
5      7      Laura    NaN         1      no
6      8      Kevin    8.0         2      no
7      9      Jonas   19.0         1     yes

In [83]:
#38
# Write a Pandas program to divide a DataFrame in a given ratio.
df = pd.DataFrame(np.random.randn(10, 2))
df_07 = df.sample(frac = 0.7)
df_03 = df.drop(df_07.index, axis = 0)
print(df_07)
print(df_03)

          0         1
7 -2.007334 -1.122305
9 -0.054577  0.205258
2  0.385323  1.461626
0 -0.870022  0.515195
1 -1.136917  1.566533
3 -1.090387  0.070243
8  1.111903  1.331541
          0         1
4  0.134735  1.046033
5  0.994681  0.240832
6  0.217331 -0.858668

In [85]:
#39
# Write a Pandas program to combining two series into a DataFrame.
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])
df = pd.concat([s1, s2], axis = 1)
print(df)

        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

In [88]:
#40
# Write a Pandas program to shuffle a given DataFrame rows.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
df =df.sample(frac = 1)
print(df)

        name  score  attempts qualify
5    Michael   20.0         3     yes
0  Anastasia   12.5         1     yes
7      Laura    NaN         1      no
2  Katherine   16.5         2     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
3      James    NaN         3      no
1       Dima    9.0         3      no
4      Emily    9.0         2      no
6    Matthew   14.5         1     yes

In [92]:
#41
# Write a Pandas program to convert DataFrame column type from string to datetime.
data = {'date':['3/11/2000', '3/12/2000', '3/13/2000']}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
print(df)

        date
0 2000-03-11
1 2000-03-12
2 2000-03-13

In [94]:
#42
# Write a Pandas program to rename a specific column name in a given DataFrame.
data = {'col1': [1,2,3], 'col2': [4,5,6], 'col3': [7,8,9]}
df = pd.DataFrame(data)
print(df.rename(columns= {'col2': 'column2'}))

   col1  column2  col3
0     1        4     7
1     2        5     8
2     3        6     9

In [98]:
#43
#  Write a Pandas program to get a list of a specified column of a DataFrame.
data = {'col1': [1,2,3], 'col2': [4,5,6], 'col3': [7,8,9]}
df = pd.DataFrame(data)
print(df['col2'].tolist())

[4, 5, 6]

In [115]:
#44
# Write a Pandas program to create a DataFrame from a Numpy array and specify the index column and column headers.
dtype = [('Column1','int32'), ('Column2','float32'), ('Column3','float32')]
values = np.zeros(15, dtype=dtype)
index = ['index'+ str(i) for i in range(1, len(values)+1)]
df = pd.DataFrame(values, index = index)
print(df)

         Column1  Column2  Column3
index1         0      0.0      0.0
index2         0      0.0      0.0
index3         0      0.0      0.0
index4         0      0.0      0.0
index5         0      0.0      0.0
index6         0      0.0      0.0
index7         0      0.0      0.0
index8         0      0.0      0.0
index9         0      0.0      0.0
index10        0      0.0      0.0
index11        0      0.0      0.0
index12        0      0.0      0.0
index13        0      0.0      0.0
index14        0      0.0      0.0
index15        0      0.0      0.0

In [126]:
#45
# Write a Pandas program to find the row for where the value of a given column is maximum.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print(df.idxmax(axis = 0))

col1    4
col2    3
col3    2
dtype: int64

In [133]:
#46
# Write a Pandas program to check whether a given column is present in a DataFrame or not.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print('col4 in the dataframe:', 'col4' in df.columns.values)
print('col1 in the dataframe:', 'col1'in df.columns.values)

col4 in the dataframe: False
col1 in the dataframe: True

In [138]:
#47
# Write a Pandas program to get the specified row value of a given DataFrame.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print(df.iloc[0])
print(df.iloc[4])

col1    1
col2    4
col3    7
Name: 0, dtype: int64
col1     7
col2     5
col3    11
Name: 4, dtype: int64

In [139]:
#48
# Write a Pandas program to get the datatypes of columns of a DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [141]:
#49
# Write a Pandas program to append data to an empty DataFrame.
df = pd.DataFrame()
data = pd.DataFrame({"col1": range(3),"col2": range(3)})
df = df.append(data)
print(df)

   col1  col2
0     0     0
1     1     1
2     2     2

In [143]:
#50
# Write a Pandas program to sort a given DataFrame by two or more columns.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
df = df.sort_values(['attempts', 'name'], ascending=[True, False])
print(df)

        name  score  attempts qualify
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
9      Jonas   19.0         1     yes
0  Anastasia   12.5         1     yes
8      Kevin    8.0         2      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
3      James    NaN         3      no
1       Dima    9.0         3      no

In [153]:
#51 
# Write a Pandas program to convert the datatype of a given column (floats to ints).
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df.dtypes)
df['score'] = df['score'].astype(int)
print('\ntransform score type\n',df.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

transform score type
 name        object
score        int64
attempts     int64
qualify     object
dtype: object

In [155]:
#52
# Write a Pandas program to remove infinite values from a given DataFrame.
df = pd.DataFrame([1000, 2000, 3000, -4000, np.inf, -np.inf])
df = df.replace([np.inf, -np.inf], np.nan)
print(df)

        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN

In [159]:
#53
# Write a Pandas program to insert a given column at a specific column index in a DataFrame.
data = {'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
new_col = [1,2,3,4,7]
df.insert(loc = 0, column = 'col1', value = new_col)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [164]:
#54
# Write a Pandas program to convert a given list of lists into a Dataframe.
s54 = list([[2,4], [1,3]])
df = pd.DataFrame(s54, columns=['col1', 'col2'])
print(df)

   col1  col2
0     2     4
1     1     3

In [166]:
#55
# Write a Pandas program to group by the first column and get second column as lists in rows.
df = pd.DataFrame( {'col1':['C1','C1','C2','C2','C2','C3','C2'], 'col2':[1,2,3,3,4,6,5]})
print(df.groupby('col1')['col2'].apply(list))

col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

In [173]:
#56
# Write a Pandas program to get column index from column name of a given DataFrame.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print('index of col2: ', df.columns.get_loc('col2'))

index of col2:  1

In [177]:
#57
# Write a Pandas program to count number of columns of a DataFrame.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print(df.shape[1])

3

In [194]:
#58
# Write a Pandas program to select all columns, except one given column in a DataFrame.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print(df.iloc[:,:-1])

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

In [196]:
#59
# Write a Pandas program to get first n records of a DataFrame.
data = {'col1':[1,2,3,4,7], 'col2': [4,5,6,9,5], 'col3': [7,8,12,1,11]}
df = pd.DataFrame(data)
print(df.head(3))

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

In [205]:
#60
# Write a Pandas program to get last n records of a DataFrame.
data = {'col1':[1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data)
print(df.tail(3))

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [212]:
#61
# Write a Pandas program to get topmost n records within each group of a DataFrame.
data = {'col1':[1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data)
print(df.nlargest(3, 'col1'))
print(df.nlargest(3, 'col2'))
print(df.nlargest(3, 'col3'))

   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8

In [214]:
#62
# Write a Pandas program to remove first n rows of a given DataFrame.
data = {'col1':[1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data)
print(df.iloc[3:])

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [219]:
#63
# Write a Pandas program to remove last n rows of a given DataFrame.
data = {'col1':[1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data)
print(df.iloc[:-3])

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [229]:
#64
# Write a Pandas program to add a prefix or suffix to all columns of a given DataFrame.
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
# pre_col = 'A_' + df.columns.values
# df.columns = pre_col
# print(df)
# suf_col = df.columns.values + '_1'
# df.columns = suf_col
# print(df)
print(df.add_prefix('A_'))
print(df.add_suffix('_1'))

   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

In [240]:
#65
# Write a Pandas program to reverse order (rows, columns) of a given DataFrame.
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print(df.iloc[:, ::-1])
print(df[::-1])
print(df[::-1].reset_index(drop=True))

    Z   Y   X   W
0  86  84  78  68
1  97  94  85  75
2  96  89  96  86
3  72  83  80  80
4  83  86  86  66
    W   X   Y   Z
4  66  86  86  83
3  80  80  83  72
2  86  96  89  96
1  75  85  94  97
0  68  78  84  86
    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86

In [248]:
#66
# Write a Pandas program to select columns by data type of a given DataFrame.
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
    })
print(df.dtypes)
print(df.select_dtypes('number'))
print(df.select_dtypes('object'))

name              object
date_of_birth     object
age              float64
dtype: object
    age
0  18.5
1  21.2
2  22.5
3  22.0
4  23.0
             name date_of_birth
0  Alberto Franco    17/05/2002
1    Gino Mcneill    16/02/1999
2     Ryan Parkes    25/09/1998
3    Eesha Hinton    11/05/2002
4    Syed Wharton    15/09/1997

In [250]:
#67
# Write a Pandas program to split a given DataFrame into two random subsets.
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
    })
df_1 = df.sample(frac = 0.6)
df_2 = df.drop(df_1.index)
print(df_1)
print(df_1.shape)
print(df_2)
print(df_2.shape)

             name date_of_birth   age
2     Ryan Parkes    25/09/1998  22.5
1    Gino Mcneill    16/02/1999  21.2
0  Alberto Franco    17/05/2002  18.5
(3, 3)
           name date_of_birth   age
3  Eesha Hinton    11/05/2002  22.0
4  Syed Wharton    15/09/1997  23.0
(2, 3)

In [252]:
#68
# Write a Pandas program to rename all columns with the same pattern of a given DataFrame.
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
    })
df.columns = df.columns.str.lower()
print(df)

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

In [256]:
#69
# Write a Pandas program to merge datasets and check uniqueness.
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
    })
df1 = df.copy(deep = True)
df = df.drop([0, 1])
df1 = df1.drop([2])
df_one_to_one = pd.merge(df, df1, validate = "one_to_one")
print(df_one_to_one)

           name date_of_birth   age
0  Eesha Hinton    11/05/2002  22.0
1  Syed Wharton    15/09/1997  23.0

In [259]:
#70
# Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.
df = pd.DataFrame({
        'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
        'age': [18, 22, 85, 50, 80, 5]
})
df["age_groups"] = pd.cut(df["age"], bins = [0, 18, 65, 99], labels = ["kids", "adult", "elderly"])
print(df["age_groups"])

0       kids
1      adult
2    elderly
3      adult
4    elderly
5       kids
Name: age_groups, dtype: category
Categories (3, object): ['kids' < 'adult' < 'elderly']

In [10]:
#71
# Write a Pandas program to display memory usage of a given DataFrame and every column of the DataFrame.
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
    })
print(df.info(memory_usage = "deep"))
print(df.memory_usage(deep = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           5 non-null      object
 1   date_of_birth  5 non-null      object
 2   age            5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 849.0 bytes
None
Index            128
name             346
date_of_birth    335
age               40
dtype: int64

In [14]:
#72
# Write a Pandas program to combine many given series to create a DataFrame.
sr1 = pd.Series(['php', 'python', 'java', 'c#', 'c++'])
sr2 = pd.Series([1, 2, 3, 4, 5])
df = pd.DataFrame({'co1': sr1, 'col2': sr2})
print(df)

      co1  col2
0     php     1
1  python     2
2    java     3
3      c#     4
4     c++     5

In [19]:
#73
# Write a Pandas program to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values.
df1 = pd.util.testing.makeDataFrame() # contains random values
print(df1)
print("\nDataFrame: Contains missing values:")
df2 = pd.util.testing.makeMissingDataframe() # contains missing values
print(df2)
print("\nDataFrame: Contains datetime values:")
df3 = pd.util.testing.makeTimeDataFrame() # contains datetime values
print(df3)
print("\nDataFrame: Contains mixed values:")
df4 = pd.util.testing.makeMixedDataFrame() # contains mixed values
print(df4)

                   A         B         C         D
aLMb4p6g86 -1.657167 -0.297391  0.469203  0.038512
z4rb29RpKE -0.663739 -1.471501  1.249168 -1.478771
j6YyLUXUhG  0.718020 -0.286737  1.015421  2.708314
lN3JW0Gxon -0.432012  1.256435 -0.185498 -0.657384
XrsO2nWDFe  0.490453  0.149892  0.108396 -0.772461
wUV50nE3pW -3.147637 -1.502966 -0.052439 -1.980943
2CBFOGKmDl -0.719118  1.563734  1.039864 -0.442079
EbEpEE9JEa -0.747829  0.961388 -0.962711  1.407708
fiAyb5kSOa  0.369729 -0.095106  2.057085 -0.602097
aUNDLdTnhL  1.522714 -0.230564 -0.365008  1.284540
5Oau5wlPaC -0.100346 -1.123005 -0.168175 -0.946891
yjbI31LHav -0.076498  0.173049 -0.043270  0.749721
jVay5goOdg  0.528865 -0.011706 -1.624951 -0.292614
t8fwiWT425 -0.768454  0.014386 -1.128733 -0.366959
jFwsnbRjIQ  1.512440  0.389279 -0.812443 -0.206169
Rv8fAROSwg  1.295423  1.898289 -1.707708 -0.657773
E18WcamuOR -0.184124 -0.790022 -0.131282  1.576313
eTflP28gNC -0.453181  1.417269 -0.770145  0.565320
rzA5dxZR8j -0.514291 -0.919433 -1.060715 -0.975745
GsoGeefP6f -0.360768  0.309555  0.243024  0.706451
LYTl2KGEEo  0.138839  1.153170 -0.060257 -1.074217
BNGtsX2QeK -0.586573  0.735448 -0.401404  0.018087
f1Jxq4p47P -1.011575 -0.323735 -0.487402 -0.505328
0ey1nHI5DR -0.017130 -0.977174 -0.239081 -0.373788
EvygFtVCbh  1.393426  0.719446 -1.997466 -0.261693
NuxjO7B0eE -0.494202  0.565026  0.125513 -0.061465
Mk6fPcTzRo -0.245083 -0.743097 -0.184466 -0.424488
omhqPRQOvw -1.483143  1.177595 -0.580586  1.704134
jepxLaEmoo  2.440992 -0.228629 -0.510278 -1.304994
zoW4JOOVm2  0.903411 -0.656938 -1.695988  1.396741

DataFrame: Contains missing values:
                   A         B         C         D
2KFXQDUK04  0.081306  0.872097 -0.698787  0.355437
nARePZHtrH -1.196831       NaN -1.734065 -0.729213
Htoev4n0jJ  0.029370 -1.359052  0.301393 -1.163583
18mV8QSa7D -0.516342  0.554362  0.259583       NaN
ibURK1aQlj -0.513468  0.436420  0.621268       NaN
LpN6j6XOyj  0.958736 -0.812124  0.646194 -0.262004
ME76NOkZhl  0.166053 -0.879081 -1.373567  0.892966
cciexvEo4F -0.367966  1.423931 -1.238936 -1.048790
C08GgPWigN -0.990706 -0.114217  0.333255       NaN
QYQtWH3abs -1.224480  0.251701  0.029294  0.148410
KxJsjZW2ra -0.398637 -2.180879 -0.278743 -0.879097
7npyGto2hb  0.362846       NaN -0.554128 -0.017347
JOgqypZ0QA -0.395684       NaN -1.597552  2.186629
Y0zDnVKInS  1.133529  0.504427  1.667308       NaN
KFcQIzMUTV  0.792642       NaN -1.303750 -0.964686
B8C3ONhuL7  1.338255 -0.476832  0.666948 -0.414069
JiTvTPRYv0 -0.668346 -0.970666 -0.747966 -0.567177
oF1tnvcU0l -1.833766 -1.281515       NaN -0.755212
6Djofon32a       NaN  0.707214 -1.077716 -1.264509
nw8IdutV57 -1.120224  1.445147 -0.705944 -0.135734
aWQrzJR50r  1.737474  1.888159 -0.198090  0.319270
TrdaShstDe -0.521728 -0.740422 -0.160491 -1.636347
NJWZYChbAg -0.495257 -0.611706  0.399506 -0.423048
rzjJk52c2b  0.737988 -1.936264  1.210776  0.947496
oh6j227vsP  1.067229 -0.747564  2.620703  0.537680
oieJfDrLSG -1.510191  1.126307       NaN  0.282196
BpuFzLURsY -0.637828  1.120641 -2.419625 -0.113254
9qtthJ1yxM  1.340771 -0.101808  1.493721  1.167144
DlmLHtuKHc -0.309506 -0.449661  0.075739 -1.310910
Mr5jUNdqsA  0.182994 -2.834120       NaN -1.138645

DataFrame: Contains datetime values:
                   A         B         C         D
2000-01-03 -0.710319 -0.719511 -1.197235  1.255779
2000-01-04  0.107639 -0.190360  1.656865 -0.201027
2000-01-05  0.792847 -0.303094  0.453829  0.688743
2000-01-06 -0.241586  0.371230 -0.217848 -0.396055
2000-01-07  1.393247  0.009188  0.830128 -0.689683
2000-01-10 -0.887564  0.721395 -0.116200  0.067981
2000-01-11 -1.779106 -0.621091  0.664820  0.118230
2000-01-12  0.006698  0.830690 -0.118126 -0.257346
2000-01-13  0.469683 -0.083859  0.036557  0.721257
2000-01-14  0.711512  0.582160 -0.889501  1.151366
2000-01-17 -0.131484 -0.152435  1.055239  0.522052
2000-01-18  0.389812 -0.201398  0.460025 -0.655284
2000-01-19  1.978399 -1.264539 -1.346268 -1.520332
2000-01-20  0.287065  0.397469 -3.163890 -0.899180
2000-01-21  0.648391  0.635000 -1.105436  0.080925
2000-01-24  0.566571  0.568243 -0.997686 -0.526005
2000-01-25 -0.243522 -1.115986  0.601712 -0.867218
2000-01-26  0.110103  0.961166 -0.661053  0.983924
2000-01-27  0.454304 -0.107746 -0.440525  1.592251
2000-01-28  0.127860  0.876509  0.895697 -1.425653
2000-01-31  0.443606  0.309429  1.053396  0.580982
2000-02-01  1.655980 -1.671738  0.950754  1.068178
2000-02-02 -1.773765 -0.776376  1.059377 -0.358480
2000-02-03 -0.928453 -1.042510 -0.650652  0.350889
2000-02-04  0.307707 -0.042022 -1.071747  0.133816
2000-02-07 -0.547102 -1.204599  0.378603  1.534685
2000-02-08  2.088825 -0.188821 -0.227051 -0.178455
2000-02-09  0.282700  0.037067  0.328674 -1.621928
2000-02-10 -0.261287 -0.343239 -1.275782  0.240080
2000-02-11  1.546216 -1.133913  0.431898  1.244496

DataFrame: Contains mixed values:
     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [37]:
#74
# Write a Pandas program to fill missing values in time series data.
sdata = {"c1":[120, 130 ,140, 150, np.nan, 170], "c2":[7, np.nan, 10, np.nan, 5.5, 16.5]}
df = pd.DataFrame(sdata)
df.index = pd.util.testing.makeDateIndex()[0:6]
print(df)
print(df.interpolate())

               c1    c2
2000-01-03  120.0   7.0
2000-01-04  130.0   NaN
2000-01-05  140.0  10.0
2000-01-06  150.0   NaN
2000-01-07    NaN   5.5
2000-01-10  170.0  16.5
               c1     c2
2000-01-03  120.0   7.00
2000-01-04  130.0   8.50
2000-01-05  140.0  10.00
2000-01-06  150.0   7.75
2000-01-07  160.0   5.50
2000-01-10  170.0  16.50

In [44]:
#75
# Write a Pandas program to use a local variable within a query.
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
max_value = df['W'].max()
print(df[df['W'] < max_value])

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
3  80  80  83  72
4  66  86  86  83

In [64]:
#76
# Write a Pandas program to clean object column with mixed data of a given DataFrame using regular expression.
d = {"agent": ["a001", "a002", "a003", "a003", "a004"], "purchase":[4500.00, 7500.00, "$3000.25", "$1250.35", "9000.00"]}
df = pd.DataFrame(d)
print(df['purchase'].apply(type))
df['purchase'] = df['purchase'].replace('[$]','', regex =True).astype('float')
print(df['purchase'].apply(type))

0    <class 'float'>
1    <class 'float'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
Name: purchase, dtype: object
0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: purchase, dtype: object

In [68]:
#77
# Write a Pandas program to get the numeric representation of an array by identifying distinct values of a given column of a dataframe. 
df = pd.DataFrame({
    'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill'],
    'Date_Of_Birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Age': [18.5, 21.2, 22.5, 22, 23]
})
codes, uniques = pd.factorize(df['Name'])
print(codes)
print(uniques)

[0 1 2 3 1]
Index(['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton'], dtype='object')

In [76]:
#78
# Write a Pandas program to replace the current value in a dataframe column based on last largest value. If the current value is less than last largest value replaces the value with 0.
df = pd.DataFrame({'rnum':[23, 21, 27, 22, 34, 33, 34, 31, 25, 22, 34, 19, 31, 32, 19]})
df['rnum'] = df['rnum'].where(df['rnum'].eq(df['rnum'].cummax()), 0)
print(df)
print(df['rnum'])

    rnum
0     23
1      0
2     27
3      0
4     34
5      0
6     34
7      0
8      0
9      0
10    34
11     0
12     0
13     0
14     0
0     23
1      0
2     27
3      0
4     34
5      0
6     34
7      0
8      0
9      0
10    34
11     0
12     0
13     0
14     0
Name: rnum, dtype: int64

In [78]:
#79
# Write a Pandas program to create a DataFrame from the clipboard (data from an Excel spreadsheet or a Google Sheet).
df = pd.read_clipboard()
print(df)

   user_id           created_at
0   363614  2022-05-16 02:06:01
1   364957  2022-05-18 06:08:24
2   370901  2022-05-27 10:21:18
3   369611  2022-05-25 11:43:07
4   370077  2022-05-26 06:37:50
5   370201  2022-05-26 10:14:55
6   366145  2022-05-20 05:48:28

In [81]:
#80
# Write a Pandas program to check for inequality of two given DataFrames.
df1 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,85,None,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
df2 = pd.DataFrame({'W':[78,75,86,80,None],'X':[78,85,96,80,76], 'Y':[84,84,89,83,86],'Z':[86,97,96,72,83]});
print(df1)
print(df2)
print(df1.ne(df2))

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  85.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  83  72
4   NaN  86.0  86  83
      W   X   Y   Z
0  78.0  78  84  86
1  75.0  85  84  97
2  86.0  96  89  96
3  80.0  80  83  72
4   NaN  76  86  83
       W      X      Y      Z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False

In [83]:
# 81
# Write a Pandas program to get lowest n records within each group of a given DataFrame.
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print(df)
df1 = df.nsmallest(3, 'col1')
print(df1)
df2 = df.nsmallest(3, 'col2')
print(df2)
df3 = df.nsmallest(3, 'col3')
print(df3)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
   col1  col2  col3
5    11     0    11
0     1     4     7
1     2     5     5
   col1  col2  col3
4     7     5     1
1     2     5     5
0     1     4     7