In [2]:
import pandas as pd
import numpy as np

In [3]:
#1
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [4]:
#2
# Write a Pandas program to convert a Panda module Series to Python list and it's type.
print(s.tolist())

[1, 2, 3]

In [5]:
#3
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])
ss = s1,s2
print(ss)

(0     2
1     4
2     6
3     8
4    10
dtype: int64, 0     1
1     3
2     5
3     7
4    10
dtype: int64)

In [6]:
#4
# Write a Pandas program to compare the elements of the two Pandas Series.
print(s1 == s2)
print(s1 >= s2)
print(s1 <= s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [7]:
#5
# Write a Pandas program to convert a dictionary to a Pandas series.
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ns = pd.Series(d)
print(ns)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [8]:
#6
# Write a Pandas program to convert a NumPy array to a Pandas series.
np_array = np.array([10, 20, 30, 40, 50])
nss = pd.Series(np_array)
print(nss)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
#7
# Write a Pandas program to change the data type of given a column or a Series.
s = pd.Series([100, 200, 'python', 300.12, 400])
print(pd.to_numeric(s, errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [11]:
#8
# Write a Pandas program to convert the first column of a DataFrame as a Series.
df = pd.DataFrame(np.array([[1,4,7],[2,5,5],[3,6,8],[4,9,12],[7,5,1],[11,0,11]]), 
                  columns = ['col1', 'col2','col3'])
                  
dfs = pd.Series(df.loc[:,'col1'])
print(dfs)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [12]:
#9
# Write a Pandas program to convert a given Series to an array.
s9 = pd.Series([100,200,'python',300.12,400])
ar9 = np.array(s9.values.tolist())
print(ar9)

['100' '200' 'python' '300.12' '400']

In [13]:
#10
# Write a Pandas program to convert Series of lists to one Series.
s10 = pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
s10s = s10.apply(pd.Series).stack().reset_index(drop= True)
print(s10s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [14]:
#11
# Write a Pandas program to sort a given Series.
s11 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s11.sort_values())

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [15]:
#12
# Write a Pandas program to add some data to an existing Series.
s12 = pd.Series([100, 200, 'python', 300.12, 400])
add = pd.Series([500, 'php'])
print(s12.append(add))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [16]:
#13
# Write a Pandas program to create a subset of a given series based on value and condition. 
s13 = pd.Series(range(0, 11))
print(s13[:6])

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [17]:
#14
# Write a Pandas program to change the order of index of a given series.
s14 = pd.Series([1,2,3,4,5], index = ['A', 'B', 'C', 'D', 'E'])
s14 = s14.reindex(['B', 'A', 'C', 'D', 'E'])
print(s14)

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [18]:
#15
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.
s15 = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
mean = np.average(s15)
sd = np.std(s15)
print(f"mean is: {mean}, standard deviation is: {sd}")

mean is: 4.818181818181818, standard deviation is: 2.4052284646041735

In [19]:
#16
# Write a Pandas program to get the items of a given series not present in another given series.
s16a = pd.Series([1,2,3,4,5])
s16b = pd.Series([2,4,6,8,10])
print(s16a[~s16a.isin(s16b)])

0    1
2    3
4    5
dtype: int64

In [20]:
#17
# Write a Pandas program to get the items which are not common of two given series.
s17a = pd.Series([1,2,3,4,5])
s17b = pd.Series([2,4,6,8,10])
union = pd.Series(np.union1d(s17a, s17b))
interset = pd.Series(np.intersect1d(s17a, s17b))
notcommonsets = union[~union.isin(interset)]
print(notcommonsets)

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [21]:
#18
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
rdm = np.random.RandomState(100)
s18 = pd.Series(rdm.normal(10, 4, 20))
min = s18.min()
p25th = np.percentile(s18, 25) 
med = s18.median()
p75th = np.percentile(s18, 75)
max = s18.max()
print(f'min is {min},\n25th is {p25th},\nmedian is {med},\n75th is {p75th},\nmax is {max}')

min is 3.0009381077812103,
25th is 8.094638666640218,
median is 10.233537051661546,
75th is 12.215377329892807,
max is 14.612143210254576

In [22]:
#19
# Write a Pandas program to calculate the frequency counts of each unique value of a given series.
s19 = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print(s19.value_counts())

5    8
2    5
3    5
0    5
1    4
4    3
6    3
7    3
8    3
9    1
dtype: int64

In [24]:
#20
# Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
s20 = pd.Series([3,1,1,3,2,2,1,2,3,1,2,2,2,3,3])
print(s20.value_counts())
nottop1 = s20.value_counts()[-2:].index.values
print(s20.replace(nottop1, 'Other'))

2    6
3    5
1    4
dtype: int64
0     Other
1     Other
2     Other
3     Other
4         2
5         2
6     Other
7         2
8     Other
9     Other
10        2
11        2
12        2
13    Other
14    Other
dtype: object

In [25]:
#21
# Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
s21 = pd.Series([1,9,8,6,9,7,1,1,1])
print(np.where(s21 % 5 == 0))

(array([], dtype=int64),)

In [26]:
#22
# Write a Pandas program to extract items at given positions of a given series.
s22 =pd.Series(list(range(0,9, 2)))
sel = [2, 4]
print(s22[sel])

2    4
4    8
dtype: int64

In [27]:
#23
# Write a Pandas program to get the positions of items of a given series in another given series.
s23a = pd.Series([1,2,3,4,5,6,7,8,9,10])
s23b = pd.Series([1,3,5,7,10])
inter = np.intersect1d(s23a,s23b)
print(s23a[s23a.isin(inter)].index)

Int64Index([0, 2, 4, 6, 9], dtype='int64')

In [28]:
#24
# Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.
s24 = pd.Series(['php', 'python', 'java', 'c#'])
print(s24.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper()))

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [29]:
#25
# Write a Pandas program to calculate the number of characters in each word in a given series.
s25 = pd.Series(['php', 'python', 'java', 'c#'])
print(s25.map(lambda x: len(x)))

0    3
1    6
2    4
3    2
dtype: int64

In [30]:
#26
# Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
s26 = pd.Series([1,3,5,8,10,11,15])
print(s26.diff().tolist())
print(s26.diff().diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [31]:
#27
# Write a Pandas program to convert a series of date strings to a timeseries.
s27 = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(pd.to_datetime(s27))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [32]:
#28
# Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.
s28 = pd.Series(['01 Jan 2015', '10-02-2016', '20180307','2014/05/06', '2016-04-12', '2019-04-06T11:20'])
s28dt = pd.to_datetime(s28)
dom = s28dt.map(lambda x: x.day).tolist()
doy = s28dt.map(lambda x: x.dayofyear).tolist()
dow = s28dt.map(lambda x: x.day_name()).tolist()
print('day of month:', dom)
print('day of year:', doy)
print('day of week:', dow)

day of month: [1, 2, 7, 6, 12, 6]
day of year: [1, 276, 66, 126, 103, 96]
day of week: ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [33]:
#29
# Write a Pandas program to convert year-month string to dates adding a specified day of the month.
s29 = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
s29dt = pd.to_datetime(s29)
print(s29dt.dt.strftime('%Y-%m-11'))

0    2015-01-11
1    2016-02-11
2    2017-03-11
3    2018-04-11
4    2019-05-11
dtype: object

In [34]:
#30
# Write a Pandas program to filter words from a given series that contain atleast two vowels.
s30 = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
from collections import Counter
vowels = list('aeiou')
two = s30.map(lambda x: sum(Counter(x.lower()).get(i, 0) for i in vowels) >= 2)
print(s30[two])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [35]:
#31
# Write a Pandas program to compute the Euclidean distance between two given series.
s31a = pd.Series([1,2,3,4,5,6,7,8,9,10])
s31b = pd.Series([11,8,7,5,6,5,3,4,7,1])
print(np.linalg.norm(s31a-s31b))

16.492422502470642

In [36]:
#32
# Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.
s32 = pd.Series([1,8,7,5,6,5,3,4,7,1])
left = np.sign(s32.diff())
right = np.sign(s32.diff(-1))
loc = left + right > 0
print(s32[loc].index)

Int64Index([1, 4, 8], dtype='int64')

In [37]:
#33
# Write a Pandas program to replace missing white spaces in a given string with the least frequent character.
str33 = 'abc def abcdef icd'
s33 = pd.Series(list(str33))
print(Counter(s33))

Counter({'c': 3, ' ': 3, 'd': 3, 'a': 2, 'b': 2, 'e': 2, 'f': 2, 'i': 1})

In [38]:
#34
# Write a Pandas program to compute the autocorrelations of a given numeric series.
s34 = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print(s34.autocorr())

-0.35059797013236527

In [39]:
#35
# Write a Pandas program to create a TimeSeries to display all the Sundays of given year.
s35 = pd.Series(pd.date_range(start = '2022-01-01', periods = 30, freq = 'W-SUN'))
print(s35)

0    2022-01-02
1    2022-01-09
2    2022-01-16
3    2022-01-23
4    2022-01-30
5    2022-02-06
6    2022-02-13
7    2022-02-20
8    2022-02-27
9    2022-03-06
10   2022-03-13
11   2022-03-20
12   2022-03-27
13   2022-04-03
14   2022-04-10
15   2022-04-17
16   2022-04-24
17   2022-05-01
18   2022-05-08
19   2022-05-15
20   2022-05-22
21   2022-05-29
22   2022-06-05
23   2022-06-12
24   2022-06-19
25   2022-06-26
26   2022-07-03
27   2022-07-10
28   2022-07-17
29   2022-07-24
dtype: datetime64[ns]

In [40]:
#36
# Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.
s36 = pd.Series(['A', 'B', 'C', 'D', 'E'])
print(pd.DataFrame(s36.reset_index()))

   index  0
0      0  A
1      1  B
2      2  C
3      3  D
4      4  E

In [41]:
#37
# Write a Pandas program to stack two given series vertically and horizontally.
s37a = pd.Series([0,1,2,3,4,5,6,7,8,9])
s37b = pd.Series(list('pqrstuvwxy'))
print(pd.concat([s37a, s37b], axis = 0))
print(pd.concat([s37a, s37b], axis = 1))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [42]:
#38
# Write a Pandas program to check the equality of two given series.
s38a = pd.Series([1,8,7,5,6,5,3,4,7,1])
s38b = pd.Series([1,8,7,5,6,5,3,4,7,1])
print(s38a == s38b)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [43]:
#39
# Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.
s39 = pd.Series([1,3,7,12,88,23,3,1,9,0])
# mins = s39.sort_values(ascending = True).index[0]
# maxs = s39.sort_values(ascending = False).index[0]
print(s39.idxmin())
print(s39.idxmax())

9
4

In [44]:
#40
# Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.
df40 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]})
s40 = pd.Series([68, 75, 86, 80, None]) 
print(df40.ne(s40, axis = 0))

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True